<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.cloud_note.dao.NoteDao">
	<select id="findByBookId" resultType="cn.tedu.cloud_note.entity.Note"
	parameterType="string">
		select * from cn_note where cn_notebook_id=#{bookId} 
		 and cn_note_status_id='1'
		order by cn_note_create_time desc
	</select>
	<select id="findByNoteId" resultType="cn.tedu.cloud_note.entity.Note"
	parameterType="string">
		select * from cn_note where cn_note_id=#{noteId} 
		 and cn_note_status_id='1'
		order by cn_note_create_time desc
	</select>
	<update id="updateNote" parameterType="cn.tedu.cloud_note.entity.Note">
		update cn_note 
		set cn_note_title=#{cn_note_title},cn_note_body=#{cn_note_body},
		cn_note_last_modify_time=#{cn_note_last_modify_time}
		where cn_note_id=#{cn_note_id}
	</update>
	<insert id="saveNote" parameterType="cn.tedu.cloud_note.entity.Note">
		insert into cn_note (cn_note_id,cn_notebook_id,cn_user_id,
		cn_note_status_id,cn_note_type_id,cn_note_title,cn_note_create_time,cn_note_last_modify_time)
		values (#{cn_note_id},#{cn_notebook_id},#{cn_user_id},'1','1',
		#{cn_note_title},#{cn_note_create_time},#{cn_note_last_modify_time})	
	</insert>
	<update id="deleteNote" parameterType="string">
		update cn_note 
		set cn_note_status_id = '0'
		where cn_note_id=#{noteId}
	</update>
	<select id="findByUserId" parameterType="string"
	resultType="cn.tedu.cloud_note.entity.Note">
	select * from cn_note where cn_user_id=#{userId} 
		 and cn_note_status_id='0'
		order by cn_note_create_time desc
	</select>
	<select id="loadRollbackNote" parameterType="string"
	resultType="cn.tedu.cloud_note.entity.Note">
	select * from cn_note where cn_note_id=#{id} 
		 and cn_note_status_id='0'
	</select>
	<delete id="aDeleteNote" parameterType="string">
		delete from cn_note where cn_note_id=#{noteId}
	</delete>
	<update id="replayNote" parameterType="cn.tedu.cloud_note.entity.Note">
		update cn_note 
		set cn_note_status_id = '1',
		cn_notebook_id=#{cn_notebook_id}
		where cn_note_id=#{cn_note_id}
	</update>
	<update id="moveNote" parameterType="cn.tedu.cloud_note.entity.Note">
		update cn_note 
		set cn_notebook_id = #{cn_notebook_id}
		where cn_note_id=#{cn_note_id}
	</update>
	<!-- 动态SQL举例 -->
	<update id="updateNoteByMap" parameterType="map">
		update cn_note 
		set
		<trim suffixOverrides=",">
		<if test="title!=null">
			cn_note_title=#{title},
		</if>
		<if test="body!=null">
			cn_note_body=#{body},
		</if> 
		<choose>
			<when test="time!=null">
				cn_note_last_modify_time=#{time}
			</when>
			<otherwise>
				cn_note_last_modify_time=unix_timestamp()
			</otherwise>
		</choose>		
		</trim>
		where cn_note_id=#{noteId}
	</update>
	
	<delete id="deleteNotes" parameterType="map">
		delete from cn_note 
		where 
		<if test="status!=null">
			cn_note_status_id=#{status} and
		</if>
		cn_note_id in
		<foreach collection="ids" item="id" 
		open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<delete id="deleteNoteById" parameterType="string">
		delete from cn_note
		where cn_note_id=#{noteId}
	</delete>
</mapper>


