<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.cloud_note.dao.RelationDao">
	<!-- 使用两条sql语句加载数据 -->
	<select id="findUserAndBooks" parameterType="string"
		resultMap="userMap1">
		select * from cn_user where cn_user_id=#{id}
	</select>
	<resultMap type="cn.tedu.cloud_note.entity.User" id="userMap1">
		<id property="cn_user_id" column="cn_user_id"/>
		<result property="cn_user_name" column="cn_user_name"/>
	
		<!-- 指定books属性是一个List集合,泛型为Book
			javaType:返回类型
			ofType:泛型
		 -->
		<collection property="books" javaType="java.util.List"
			ofType="cn.tedu.cloud_note.entity.Book"
			select="findBooks" column="cn_user_id">
		</collection>	
	</resultMap>
	
	<select id="findBooks" parameterType="string"
		resultType="cn.tedu.cloud_note.entity.Book">
			select * from cn_notebook where cn_user_id=#{userId}
	</select>
	
	<!-- 一条sql加载user -->
	<select id="findUserAndBooks1" parameterType="string"
		resultMap="userMap2">
			select * from cn_user u join cn_notebook b on (u.cn_user_id=b.cn_user_id)
			where u.cn_user_id=#{userId}
	</select>
	<resultMap type="cn.tedu.cloud_note.entity.User" id="userMap2">
		<!-- 定义cn_user/cn_notebook字段加载,不能省略 -->
		<id property="cn_user_id" column="cn_user_id"/>
		<result property="cn_user_name" column="cn_user_name"/>
		<result property="cn_user_password" column="cn_user_password"/>
		<result property="cn_user_nick" column="cn_user_nick"/>
		<collection property="books" javaType="java.util.List" 
		ofType="cn.tedu.cloud_note.entity.Book">
			<id property="cn_notebook_id" column="cn_notebook_id"/>
			<result property="cn_user_id" column="cn_user_id"/>
			<result property="cn_notebook_type_id" column="cn_notebook_type_id"/>
			<result property="cn_notebook_name" column="cn_notebook_name"/>
			<result property="cn_notebook_desc" column="cn_notebook_desc"/>
			<result property="cn_notebook_createtime" column="cn_notebook_createtime"/>
		</collection>
	</resultMap>
	
	<!-- 两条sql加载Book相关的User信息 -->
	<select id="findBookAndUser" resultMap="bookMap1">
		select * from cn_notebook
	</select>
	<resultMap type="cn.tedu.cloud_note.entity.Book" id="bookMap1">
		<association property="user" javaType="cn.tedu.cloud_note.entity.User"
			select="findUser" column="cn_user_id">
		</association>
	</resultMap>
	<select id="findUser" parameterType="string" 
		resultType="cn.tedu.cloud_note.entity.User">
		select * from cn_user where cn_user_id=#{userId}
	</select>
	
	<select id="findBookAndUser1" resultMap="bookMap2">
		select * from cn_notebook b join cn_user u on (b.cn_user_id=u.cn_user_id)
	</select>
	<resultMap type="cn.tedu.cloud_note.entity.Book" id="bookMap2">
		<id property="cn_notebook_id" column="cn_notebook_id"/>
	<result property="cn_user_id" column="cn_user_id"/>
		<result property="cn_notebook_type_id" column="cn_notebook_type_id"/>
		<result property="cn_notebook_name" column="cn_notebook_name"/>
		<result property="cn_notebook_desc" column="cn_notebook_desc"/>
		<result property="cn_notebook_createtime" column="cn_notebook_createtime"/>
		<association property="user" javaType="cn.tedu.cloud_note.entity.User">
			<id property="cn_user_id" column="cn_user_id"/>
			<result property="cn_user_name" column="cn_user_name"/>
			<result property="cn_user_password" column="cn_user_password"/>
			<result property="cn_user_nick" column="cn_user_nick"/>
		</association>
	</resultMap>	
</mapper>








